.mainTitle {
	text-align:center;
}
.mainTitle .logo {
	width:100px;
	vertical-align:middle;
}
.mainTitle .text {
	vertical-align:middle;
}
.jqueryTestContainer{
	width:50%;
	font-size:30px;
	margin:0 auto;
	background:#dfdfdf;
}